# auth-db 데이터베이스 설정
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_HOST=
AUTH_DB_PORT=

# booking-db 데이터베이스 설정
BOOKING_DB_NAME=
BOOKING_DB_USER=
BOOKING_DB_PASSWORD=
BOOKING_DB_HOST=
BOOKING_DB_PORT=

# JWT
JWT_SECRET_KEY=
